.signup-form {
    background-color: #E9E9E9;
    border: 1px solid;
    border-radius: 10px;
    width: 40%;
    height: 60vh;
}

.form-header {
    height: 30%;
    border-bottom: 3px solid;
    width: 100%;
    display: flex;
    align-items: center;
}

.form-header-text {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-header h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 54px;
}

.form-header h2 {
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 40px;
}

@media screen and (max-width: 720px) {
    .signup-form {
        width: 80%;
        height: 70vh;
    }
}