.tx {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content
}

.tx-verified {
  background: linear-gradient(to right, rgba(0, 154, 43, 0.2), transparent);
}

.tx-failed {
  background: linear-gradient(to right, rgba(246, 37, 37, 0.2), transparent);
}

.tx-pending {
  background: linear-gradient(to right, rgba(255, 184, 0, 0.2), transparent);
}

.tx-content {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .tx-verified {
    background: linear-gradient(to bottom, rgba(0, 154, 43, 0.2), transparent);
  }
  
  .tx-failed {
    background: linear-gradient(to bottom, rgba(246, 37, 37, 0.2), transparent);
  }
  
  .tx-pending {
    background: linear-gradient(to bottom, rgba(255, 184, 0, 0.2), transparent);
  }
}
