.dashboard-button {
  width: 75%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-session {
  background: linear-gradient(to bottom, rgba(0, 154, 43, 0.4), rgba(255, 255, 255, 0.1));
  border-top: 2px solid black;
}

.sent-proofs {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(220, 220, 220, 0.4), rgba(255, 255, 255, 0.1));
}

.rcvd-proofs {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(139, 94, 255, 0.4));
  border-bottom: 2px solid black;
}

.height-60 {
  height: 60vh;
}

.reload-button {
  border-color: #666666;
  width: 35px; /* Set width */
  height: 35px; /* Set height */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  border-radius: 50%; /* Make it a circle */
  display: flex; /* Flex display to center the icon */
  align-items: center; /* Center the icon vertically */
  justify-content: center; /* Center the icon horizontally */
}

.reload-button:hover {
  background-color: #b3b3b3; /* Lighter grey on hover */
}

.reload-button:active {
  background-color: #666666; /* Darker grey on click */
}
