body {
  font-family: 'montserrat', sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

.zkredit-title {
  font-weight: bold;
  font-size: 4rem;
  text-transform: uppercase;
}

.zkp-heading {
  color: #009a2b;
  font-size: 24px;
  font-weight: bold;
  text-transform: capitalize;
}